<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if data==0 %}
    <h1 class="dead">YOU ARE NOT SUFFERING FROM COVID-19</h1>
    {% elif data==1 %}
    <h1 class="alive">THERE ARE HIGH CHANCES THAT YOU SUFFERING FROM COVID-19. CONSULT A DOCTOR AND GET YOURSELF TESTED ASAP</h1>
    {% else %}
    {%endif%}
    <BR><br>
    <H2>SOME PRECAUTIONS</H2><br><br>
    <PRE><h3>
    To prevent the spread of COVID-19:
        1.Maintain a safe distance from others (at least 1 metre), even if they don’t appear to be sick.
        2.Wear a mask in public, especially indoors or when physical distancing is not possible.
        3.Choose open, well-ventilated spaces over closed ones. Open a window if indoors.
        4.Clean your hands often. Use soap and water, or an alcohol-based hand rub.
        5.Get vaccinated when it’s your turn. Follow local guidance about vaccination.
        6.Cover your nose and mouth with your bent elbow or a tissue when you cough or sneeze.
        7.Stay home if you feel unwell.</h3>
    </PRE>
    <br><br>
    <h2>SOME REMEDIES</h2><br><br>
    <pre><h3>
       1. Isolate yourself in a well ventilated room.
       2. Use a triple layer medical mask, discard mask after 8 hours of use or earlier if they become wet or visibly soiled. In the event of a caregiver 3.entering the room, both caregiver and patient may consider using N 95 mask.
       4. Mask should be discarded only after disinfecting it with 1% Sodium Hypochlorite.
       5. Take rest and drink a lot of fluids to maintain adequate hydration.
       6. Follow respiratory etiquettes at all times.
       7. Frequent hand washing with soap and water for at least 40 seconds or clean with alcohol-based sanitizer.
       8. Don’t share personal items with other people in the household.
       9. Ensure cleaning of surfaces in the room that are touched often (tabletops, doorknobs, handles, etc.) with 1% hypochlorite solution.
       10. Monitor temperature daily.
       11. Monitor oxygen saturation with a pulse oximeter daily.
       12. Connect with the treating physician promptly if any deterioration of symptoms is noticed.
    </h3>
            </pre>
        
    </body>
    </html>