<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sex Education</title>
    <style>
        body{
            background-color:azure;
        }
        .imagee{
            height: 400px;
            display: flex;
            justify-content: space-evenly;
        }
        .type{
            font-size: 30px;
            display: flex;
            justify-content: space-evenly;
        }
        .mid{
            margin-left: 600px;
            font-size: 40px;
        }
    </style>
</head>
<body>
    <h1 class="mid">Sex Education</h1><br><br><br><br>
    <div class="imagee">
        <img src="static\assets\img\two.jpg">
        <img src="static\assets\img\one.jpg">
    </div>
    <div class="type">
       <a href="kid.html"><h1>KIDS</h1></a>
       <a href="adult.html"><h1>ADULTS</h1></a>
    </div>
</body>
</html>